/* Reset */
@import url(./reset.css);
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100&display=swap');

:root {
    --font-family: "Poppins", sans-serif;
    --color-menu-list: #263238;
}

body {
    font-family: var(--font-family);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
.wrapper > main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 85.625rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 0 auto;
    border: 1px solid red;
}

/* Header */
.header {
    margin-top: 55px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 2.25rem;
    color: black;
}
.logo__text {
    font-size: 2.25rem;
    color: #939393;
}
.header__menu {
    min-width: 520px;
}
.menu {
}
.menu__list {
    display: flex;
    justify-content: space-between;
    /*font-size: 20px;*/ 
    font-size: 1.25rem;
    color: var(--color-menu-list);
    font-weight: 500;
}
.menu__item {
}
.menu__link {
}
/*Burger menu*/


.header__button {
    width: 220px;
    min-width: 160px;
    height: 70px;
    min-height: 50px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 5px;
    border: 2px solid #263238;
}

@media (max-width: 992px) {
    .header {
        margin-top: 25px;
    }
    .header__logo,
    .logo__text {
        font-size: 1.875rem;
        line-height: normal;  
    }
    .header__menu {
        min-width: 414px;
    }
    .menu__list {
        font-size: 16px;
    }
    .header__button {
        max-width: 160px;
        height: 50px;
    }
}
@media (max-width: 767px) {
    .header {
        margin-top: 2.4375rem;
    }
    
    .menu__list {
        display: none;
    }
    
    .header__button {
        display: none;
    }
    
    
}